@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    list-style: none !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
}

.show-navbar {
    right: 0 !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--null);
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.z-5 {
    z-index: 5;
}

.py-23 {
    padding: 23px 0px 23px 0px;
}

.rotate40 {
    transform: rotate(40deg);

}

.rotate-45 {
    transform: rotate(-46deg);

}

.nav-link {
    gap: 32px;
}

.buton-1 {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    padding: 7px 23px 7px 23px;
    border-radius: 23.5px;
    border: none;
}

.nav-bar {
    /* backdrop-filter: blur(16px) */
}

/* hero section */
.section-one-part-2 {
    margin-top: -1px;
    margin-bottom: -1px;
    background: #0c0b0b;
}

.pt-285 {
    padding-top: 285px;
}

.max-w-551 {
    max-width: 551px;
}

.pt-59 {
    padding-top: 59px;
}

.max-565 {
    max-width: 565px;
}

.ml-auto {
    margin-left: auto;
}

.bg-img {
    background-image: url(/assets/images/png/Component\ 6.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
}

.z-index {
    position: relative;
    z-index: 4;
}

.box-section-1 {
    margin-top: 100px;
    margin-bottom: 0;
}

.para {
    padding-top: 24px;
}

.buton-1:hover,
.buton-2:hover
{
background: white;
color: #FFA800;
transition: all 200ms;
}

.min-vh {
    min-height: 100vh;
}

.pt-24 {
    padding-top: 24px;
}

.para-2 {
    opacity: 70%;
}

.box-2 {
    backdrop-filter: blur(32px);
    transform: translateY(-114px);
    padding: 24px;
    border: 1px solid grey;
    z-index: 4;
}

.pt-100 {
    padding-top: 150px;
}

.opacity-70 {
    opacity: 70%;
}

.mx-w {
    max-width: 660px;
}

.mt-24 {
    margin-top: 24px;
}

nav {
    margin-bottom: -1px;
    width: 100%;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(16px)
}

.gap-32 {
    gap: 32px;
}

.menuLink {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding-top: 27px;
    margin-bottom: 27px;
    text-align: left;
}

ul li a {
    color: var(--fc-white);
}

.buton-2 {
    padding: 12px 32px 12px 32px;
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    border-radius: 33px;
    margin-top: 50px;
    margin-bottom: 120px;
}

.circ-line {
    left: -1%;
    top: 34%;

}

.circ-blur {
    right: 0%;
}

.poopins-font {
    font-family: "Poppins", sans-serif;
}

.lh-128 {
    line-height: 128%;
}

.lh-150 {
    line-height: 150%;
}

.lh-180 {
    line-height: 180%;
}

.pt-14 {
    padding-top: 14px;
}

.pb-22 {
    padding-bottom: 22px;
}

.pt-17 {
    padding-top: 17px;
}

.pb-28 {
    padding-bottom: 28px;
}

.pb-32 {
    padding-bottom: 32px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-32 {
    margin-bottom: 32px;
}

.circle-img {
    max-width: 300px;
}

.max-width-315 {
    max-width: 315px;
}

.bg-custom-black {
    background-color: #0C0B0B;
    margin-top: -2px;
}

.box {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    backdrop-filter: blur(32px) !important;
    padding: 16px 20px;
    border: 1px solid var(--fc-slate-gray) !important;
    border-radius: 10px;
    transition: all 400ms linear;
    width: 100%;
    max-width: 424px;
}

.box:hover {
    background-color: var(--fc-light-black);
}

.mini-box {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.circle-img:hover {
    animation-name: rotate;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.table-body {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.1) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    backdrop-filter: blur(32px)
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.mt--2 {
    margin-top: -2px;
}

.circle-layer-roadmap {
    position: absolute;
    left: 0;
    top: 38%;
}

.circle-layer {
    position: absolute;
    right: -33%;
    top: 0;
}

.orange-layer {
    position: absolute;
    right: -40%;
    top: -25%;
}

.poppins {
    font-family: "poppins", sans-serif;
}

.roadmap {
    margin-bottom: 59px;
}

.design-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0C0B0B;
    padding: 60px 0;

}

.timeline-component {
    margin-bottom: 12px;
}

.table-sec{
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    backdrop-filter: blur(32px)
}


.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    max-width: 1320px;
    margin: auto auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mt-50 {
    margin-top: 50px;
}

.accordion-bottom-layer {
    position: absolute;
    right: -50% !important;
}

.acoordian-circle-layer {
    position: absolute;
    right: 0% !important;
    bottom: 0;
}

.accordion-body {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.accordion-item {
    border-radius: 10px !important;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

.accordion-button {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.accordion-button:focus {
    z-index: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    background-color: #181818 !important;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    box-shadow: none !important;
}

.accordion-button {
    color: white;
}

.accordion-para {
    font-size: var(--fs-md);
    font-weight: var(--fw-sm);
    color: #B9B8B8;

}

.bg-black {
    background-color: black;
}

.accordion-body {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

button.accordion-button {
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
}

button.accordion-button {
    color: white;
}

.accordion-item {
    border-color: #414141 !important;
}

button.accordion-button.collapsed {
    border: 1.9px solid #414141;
    border-radius: 10px !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/svg/acc-arrow.svg) !important;
}

.accordion-button::after {
    background-image: url(/assets/images/svg/acc-arrow.svg) !important;
}

/* how to buy css */
.text-parent {
    padding-left: 40px;
}

.mid-text-2 {
    color: #BBBABA;
    font-size: var(--fs-md);
    font-weight: var(--fw-sm);
    font-family: "Poppins", serif;
    max-width: 660px;
}

.circle-2 {
    width: 71px;
    height: 71px;
    background-color: #fff;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 10px;
}

.card-1 {
    max-width: 660px;
    padding-bottom: 10px;
    background-color: #151313;
    border-radius: 46px;
}

.card-2 {
    max-width: 660px;
    padding-bottom: 10px;
    background-color: #151313;
    border-radius: 46px;
    margin-top: 15px;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;

}

.card-3 {
    max-width: 660px;
    padding-bottom: 10px;
    background-color: #151313;
    border-radius: 46px;
    margin-top: 15px;
}

.card-3:hover {
    background-color: #0C0B0B;
}

.card-2:hover {
    background-color: #0C0B0B;
}

.card-1:hover {
    background-color: #0C0B0B;
}

.short-div-2 {
    padding-left: 20px;
    padding-top: 15px;
}

.small-text-2 {
    opacity: 70%;
}

.card-2:hover .circle-2 {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    color: white;
}

.card-3:hover .circle-2 {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    color: white;
}

.card-1:hover .circle-2 {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    color: white;
}

.pt-89 {
    padding-top: 89px;
}

.pb-87 {
    padding-bottom: 87px;
}

.circ-text-2 {
    padding-top: 20px;
}

.box-parent-2 {
    gap: 10px;
    margin-top: 40px;
    margin-left: 30px;
}

.img-parent {
    max-width: 905px;
    margin-left: auto;
}

.img-2 {
    margin-top: 20px;
}

.bg-color-2 {
    background-color: #1D1A1A;
    padding-bottom: 87px;
    padding-top: 89px;
}

.pb-60 {
    padding-bottom: 60px;
}


@media (max-width:1700px) {
    .circ-line {
        left: -13%;
        top: 20%;

    }
}

@media (max-width:992px) {

    .display-fex {
        display: flex;
        flex-direction: column;
    }

    .ms-a {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .nav-bar {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .bug {
        display: none;
    }

    .nav-link {
        display: flex !important;
        flex-direction: column !important;
        background: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear;
        /* z-index: 5; */
    }

    .show-navbar {
        right: 0 !important;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    .min-500 {
        min-height: 500px;
    }

    .section-headings {
        font-size: var(--fs-3xl);
    }

    .burger-pic {
        display: none !important;
    }
}

@media (max-width:992px) {
    nav {
        z-index: 9;
        position: fixed;
        background-color: black;
        height: 80px;
    }

    .logo {
        padding-top: 23px;
    }

    .buton-2 {
        margin-bottom: 30px;
    }
}

@media (max-width:1260px) {
    .max-1260-p-releative {
        position: relative !important;
    }

    .max-1260-pt-38 {
        padding-top: 38px !important;
    }
}

@media (max-width: 1788px) {
    .layer-1-bg-dog {
        display: none;
    }

    .layer-2-bg-dog {
        display: none;
    }
}

@media (max-width:576px) {
    .heading {
        font-size: var(--fs-3xl);
        line-height: 50px;
    }

    .mt-50 {
        margin-top: 30px;
    }

    .heading-2 {
        font-size: var(--fs-2xl);
    }
}

@media (max-width:1320px) {
    .box-3 {
        margin-top: 0;
    }

    .pt-100 {
        padding-top: 0;
    }

    .min-vh {
        min-height: 0;
    }
}

@media (max-width:1200px) {
    .box-section-1 {
        margin-top: 100px;
    }
}

/* takenomics-responsive */

@media (min-width:576px) {
    .tokenomics-border {
        backdrop-filter: blur(32px);
        border: 1px solid;
        
            border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%) 1;
    }

    .table-border-right {
        border-right: 1px solid var(--fc-slate-gray) !important;
    }

    .border-table-bottom {
        border-bottom: 1px solid var(--fc-slate-gray) !important;
    }

    .table-border-left {
        border-left: 1px solid var(--fc-slate-gray) !important;

    }

    table {
        border-spacing: 0;
    }

    tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
    }

    tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
    }



    .circle-img {
        max-width: 361px;
    }

}


@media screen and (min-width: 768.99px) {
    .md-text-right {
        text-align: right !important;
    }

    .md-text-left {
        text-align: left;
    }

    .md-ml-110 {
        margin-left: 110px;
    }

    .md-mr-110 {
        margin-right: 110px;
    }

    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
    }

    .timeline-middle {
        position: relative;
        background-color: white;
        width: 5px;
        height: 100%;
    }

    .md-h-0 {
        height: 0%;
    }

    .main-middle {
        opacity: 0;
    }

    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .down-arrow {
        display: none;
    }
}



@media (max-width:767.99px) {
    .timeline-component {
        margin-bottom: 48px;
        margin-left: 12px;
        margin-right: 12px;
        width: 100%;
        border-radius: 24px;
        max-width: 80%;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: inset 0px 0px 15px -5px rgba(255, 255, 255, 1);
        -moz-box-shadow: inset 0px 0px 15px -5px rgba(255, 255, 255, 1);
        box-shadow: inset 0px 0px 15px -5px rgba(255, 255, 255, 1);
        position: relative;
    }

    .down-arrow {
        display: block;
        position: absolute;
        transform: translateX(-50%);
        bottom: -20%;
        left: 50%;
    }
}

@media (max-width:319.6px) {
    .down-arrow {
        display: none;
    }
}

@media (max-width:1200px) {
    .img-2 {
        margin-left: 0px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .bg-color-2 {
        padding-bottom: 0;
        padding-top: 0;
    }

    .head-2 {
        margin-top: 20px;
    }
}

@media (min-width:768px) {
    .pb-md-200 {
        padding-bottom: 200px;
    }
}

@media (min-width:1200px) {
    .pb-xl-300 {
        padding-bottom: 300px;
    }
}

@media (min-width:1700px) {
    .text-parent {
        padding-left: 180px;

    }

    .box-parent-2 {
        margin-left: 170px;
    }

    .pb-xxl-456 {
        padding-bottom: 456px;
    }

}